In [1]:
import pandas as pd

In [4]:
data = pd.read_csv("./Resources/lifeExpectancyAtBirth.csv",sep=',')

In [5]:
data.head()

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Life expectancy at birth (years),Both sexes,63.21
1,Afghanistan,2019,Life expectancy at birth (years),Male,63.29
2,Afghanistan,2019,Life expectancy at birth (years),Female,63.16
3,Afghanistan,2015,Life expectancy at birth (years),Both sexes,61.65
4,Afghanistan,2015,Life expectancy at birth (years),Male,61.04

In [6]:
filter_data = (data["Period"] == 2019) & (data["Dim1"] == "Both sexes")

In [7]:
data[filter_data].head()

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Life expectancy at birth (years),Both sexes,63.21
12,Albania,2019,Life expectancy at birth (years),Both sexes,78.00
24,Algeria,2019,Life expectancy at birth (years),Both sexes,77.13
36,Angola,2019,Life expectancy at birth (years),Both sexes,63.06
48,Antigua and Barbuda,2019,Life expectancy at birth (years),Both sexes,76.45

In [8]:
data[filter_data]["Location"]

0                              Afghanistan
12                                 Albania
24                                 Algeria
36                                  Angola
48                     Antigua and Barbuda
                       ...
2137    Venezuela (Bolivarian Republic of)
2149                              Viet Nam
2161                                 Yemen
2173                                Zambia
2185                              Zimbabwe
Name: Location, Length: 183, dtype: object

In [9]:
data[filter_data]["First Tooltip"].mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of 0       63.21
12      78.00
24      77.13
36      63.06
48      76.45
        ...
2137    73.95
2149    73.74
2161    66.63
2173    62.45
2185    60.68
Name: First Tooltip, Length: 183, dtype: float64>

In [10]:
data[filter_data]["First Tooltip"].range

AttributeError: 'Series' object has no attribute 'range'

In [11]:
data[filter_data].sort_values("First Tooltip").head()

,Location,Period,Indicator,Dim1,First Tooltip
1117,Lesotho,2019,Life expectancy at birth (years),Both sexes,50.75
373,Central African Republic,2019,Life expectancy at birth (years),Both sexes,53.10
1801,Somalia,2019,Life expectancy at birth (years),Both sexes,56.47
661,Eswatini,2019,Life expectancy at birth (years),Both sexes,57.73
1333,Mozambique,2019,Life expectancy at birth (years),Both sexes,58.14

In [12]:
data[filter_data].sort_values("First Tooltip").tail()

,Location,Period,Indicator,Dim1,First Tooltip
1837,Spain,2019,Life expectancy at birth (years),Both sexes,83.22
1753,Singapore,2019,Life expectancy at birth (years),Both sexes,83.22
1573,Republic of Korea,2019,Life expectancy at birth (years),Both sexes,83.30
1897,Switzerland,2019,Life expectancy at birth (years),Both sexes,83.45
997,Japan,2019,Life expectancy at birth (years),Both sexes,84.26